/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
}

:root {
    --lt-background-color: #e5e5e5;
    --dk-background-color: #222;
}

.light {
    background-color: var(--lt-background-color);
    color: #000;
}

.dark {
    background-color: var(--dk-background-color);
    color: #fff;
    opacity: 10%;
}

h1, h2 {
    font-family: "Corinthia", cursive;
    font-size: 1.8rem;
    font-weight: bold;
}

body {
    font-family: "PT Serif", serif;
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 400;
}

.hidden {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#clickableSection {
    display: block;
    height: 110vh;
    width: 10%;
    top: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.111);
    z-index: 2;
}

.left {
    left: 0;
}

/* HEADER STYLES */
header {
    display: grid;
    grid-template-columns: 1fr;
    padding: 80px 0 10px 0;
    width: 90%;
    gap: 5px;
}

header h1, header p {
    grid-column: 1 / 2;
    padding: 0 10px;
}

header img {
    border-radius: 50%;
    margin: 20px auto;
}

/* NAV STYLES */
nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    display: block;
    padding: 20px;
}

/* MAIN STYLES */
main {
    display: grid;
    grid-template-columns: 90% 10%;
}

.right {
    grid-template-columns: 10% 90%;
}

#skills, #contact {
    grid-column: 1 / 2;
    padding-bottom: 20px;
}

#projects {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    padding: 10px;
    padding: 80px 0 10px 0;
}

#projects article {
    padding: 10px;
}

#projects h2 {
    padding: 0 10px;
}

#projects a {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.111);
    border-radius: 10px;
}

#projects a:hover {
    background-color: rgba(0, 0, 0, 0.222);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition:  all .3s;
}

#projects img {
    width: 100%;
    border-radius: 8px;
}

#skills ul {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

#skills svg {
    width: 80px;
    height: auto;
}

#skills svg:hover {
    fill: gold;
    stroke: gold;
}



/* FOOTER STYLES */
footer {
    text-align: center;
    padding: 1rem;
    z-index: 3;
    grid-column: 1 / 3;
}

#clickableSection:hover {
    background-color: #000;
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.222);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition:  all .3s;
}