/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
}

:root {
    --lt-background-color: #ffffff;
    --dk-background-color: #222;
}

h1, h2 {
    font-family: "Corinthia", cursive;
    font-size: 2rem;
    font-weight: bold;
}

a {
    color: var(--dk-background-color);
    text-decoration: none;
}

body {
    font-family: "PT Serif", serif;
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 400;
}

.hidden {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#clickableSection {
    display: block;
    height: 110vh;
    width: 10%;
    top: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.111);
    z-index: 2;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.left {
    left: 0;
}

/* HEADER STYLES */
header {
    display: grid;
    grid-template-columns: 1fr;
    padding: 80px 0 10px 0;
    width: 90%;
    gap: 5px;
}

header h1, header p {
    grid-column: 1 / 2;
    padding: 0 10px;
}

header div {
    margin: 10px auto;
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius: 50%;
}

header img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* NAV STYLES */
nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: var(--lt-background-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    display: block;
    padding: 20px;
}

/* MAIN STYLES */
main {
    display: grid;
    grid-template-columns: 90% 10%;
}

.right {
    grid-template-columns: 10% 90%;
}

#skills, #contact {
    grid-column: 1 / 2;
    padding: 0 10px 20px 10px;
    max-width: 835px;
    width: 100%;
    margin: 0 auto;
}

#contact a {
    text-decoration: underline;
}

#projects {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    padding: 80px 0 10px 0;
}

#projects article {
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

#projects h2 {
    padding: 0 10px;
}

#projects a {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.111);
    border-radius: 10px;
}

#projects img {
    width: 100%;
    border-radius: 8px;
    height: auto;
    max-width: 500px;
}

#skills ul {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

#skills svg {
    width: 80px;
    height: auto;
}

/* FOOTER STYLES */
footer {
    text-align: center;
    padding: 1rem;
    z-index: 3;
    grid-column: 1 / 3;
}

/* HOVER */
#projects a:hover {
    background-color: rgba(0, 0, 0, 0.222);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#skills svg:hover {
    fill: gold;
    stroke: gold;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

#clickableSection:hover {
    background-color: var(--dk-background-color);
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.222);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* FOCUS */
.hidden:focus {
    left: 10px;
    position: relative;
    top: 80px;
    width: auto;
    height: auto;
    overflow: visible;
}

a:focus {
    outline: 3px solid gold;
    outline-offset: 2px;
}

/* MEDIA QUERIES */
@media (min-width: 800px) {
    header {
            grid-template-columns: 2fr 1fr;
            max-width: 835px;
            margin: 0 auto;
            transform: translateX(-50px);
    }
    header div {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        margin: 10px;
    }

    #projects {
        padding: 80px 20px 0 20px;
    }

    #projects div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    #projects article {
        max-width: 500px;
    }

    #projects h2 {
        grid-column: 1 / -1;
    }
}